/* Defining custom fonts using @font-face */
@font-face {
    font-family: 'Report School Bold';
    src: url('../fonts/Report School Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Report School Italic';
    src: url('../fonts/Report School Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Report School Regular';
    src: url('../fonts/Report School Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Report School Heavy';
    src: url('../fonts/Report School Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Report School Heavy Italic';
    src: url('../fonts/Report School Heavy Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Report School Bold Italic';
    src: url('../fonts/Report School Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Apply fallback fonts */
body {
    font-family: 'Report School Regular', Arial, sans-serif;
}

/* Navbar section */
/* Updated Navbar Styling */
.navbar {
    background-color: #0C1427;
    color: white;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

/* Updated Navbar brand styling */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px; /* Spacing between icon and text */
}

.navbar-brand span {
    font-size: 1.5rem; /* Increased size for FindUrSpace */
    font-weight: 700;
    color: white;
    font-family: 'Report School Bold', Arial, sans-serif;
}

/* Nav link styling */
.nav-link {
    color: white !important;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}

/* Hover effect */
.nav-link:hover {
    color: #ff6600 !important;
}

/* Toggler button styling */
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Container padding */
.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}


/* Hero Section */
.hero-section {
    background-image: url('../images/Home BuildingsAsset 32.svg');
    background-size: contain;
    background-position: center;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2b2b2b;
    padding-left: 60px;
    padding-right: 40px;
    min-height: 80vh;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
    font-family: 'Report School Heavy', Arial, sans-serif;
}

.hero-subtitle {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
    font-family: 'Report School Italic', Arial, sans-serif;
}

.hero-text {
    max-width: 600px;
    line-height: 1.6;
    padding-right: 40px;
    font-family: 'Report School Regular', Arial, sans-serif;
}

/* Form Section */
.info-form-section .form-container {
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-left: auto;
    margin-right: 120px;
    width: 100%;
    height: auto;
    min-height: 400px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Report School Regular', Arial, sans-serif;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.input-group .input-group-text {
    background-color: transparent;
    border: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group input.form-control {
    width: 100%;
    border: none;
    padding-left: 40px;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Report School Regular', Arial, sans-serif;
}

.input-group img {
    width: 24px;
    height: auto;
}

.btn-block {
    width: 100%;
    background-color: #0033cc;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Report School Bold', Arial, sans-serif;
}

.btn-block:hover {
    background-color: #002699;
}

.step-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
}

.step-nav div {
    flex: 1;
    text-align: center;
    font-weight: normal;
    color: #0033cc;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    transition: font-weight 0.3s;
    cursor: pointer;
}

.step-nav div.active {
    color: #ff6600;
    font-weight: bold;
}

.form-container input:focus, 
.form-container .input-group input:focus {
    border-color: #0033cc;
    outline: none;
    box-shadow: none;
}

.select2-container .select2-selection--single {
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.select2-container .select2-selection__rendered {
    padding-left: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    right: 10px;
}

.form-select {
    position: relative;
    max-height: 150px;
    overflow-y: auto;
}

.form-group {
    margin-bottom: 20px;
}

.custom-select-dropdown .select2-results__options {
    max-height: 150px;
    overflow-y: auto;
}

/* Benefits section */
.benefits-section {
    background-color: #151D31;
    padding: 20px 0;
    color: white;
    border-radius: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    display: block;
}

.benefit {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-family: 'Report School Regular', Arial, sans-serif;
}

.benefit p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-family: 'Report School Italic', Arial, sans-serif;
}

.benefit img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    height: 80px;
    width: 2px;
    background-color: white;
}


/* How it works section */
.how-it-works-section {
    padding: 50px 0;
}

.steps h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Report School Heavy', Arial, sans-serif;
}

.steps .step h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Report School Bold', Arial, sans-serif;
}

.steps .step p {
    font-size: 1.1rem;
    color: #333;
    font-family: 'Report School Regular', Arial, sans-serif;
}

/* Styling for the YouTube Placeholder */
.youtube-video-box {
    width: 100%;
    height: 315px;
    border: 2px dashed #151D31;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #151D31;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Company logos section */
/* Company logos section */
.company-logos-section {
    background-color: #151D31;
    padding: 20px 0;
    overflow: hidden; /* Hides the overflowing content */
    position: relative;
}

/* Container to hold the logos for scrolling */
.scrolling-logos {
    display: flex; /* Align logos in a row */
    white-space: nowrap; /* Prevent logos from wrapping onto the next line */
    animation: scroll-logos 20s linear infinite; /* Infinite linear scrolling */
}

/* Keyframes for the scrolling animation starting from the left */
@keyframes scroll-logos {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

.company-logos-section img {
    display: inline-block; /* Align images in a row without breaks */
    height: 50px; /* Adjusted height for smaller logos */
    padding: 5px 20px; /* Reduced vertical padding and consistent horizontal spacing */
    transition: transform 0.3s ease; /* Smooth transformation */
}

.company-logos-section img:hover {
    transform: scale(1.1); /* Slight increase on hover */
    cursor: pointer; /* Changes cursor to indicate interactivity */
    animation-play-state: paused; /* Pause animation on hover */
}

/* Discover section */
.discover-coworking-section {
    padding: 50px 0;
}

.discover-coworking-section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Report School Heavy', Arial, sans-serif;
}

.scroll-container {
    display: flex;
    align-items: center;
    position: relative;
}

.cities-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
    scrollbar-width: none;
}

.cities-wrapper::-webkit-scrollbar {
    display: none;
}

.city-card {
    margin: 0 15px;
    text-align: center;
}

.image-box {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #151D31;
    border-radius: 10px;
    padding: 10px;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.city-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Report School Bold', Arial, sans-serif;
}

.city-card p {
    margin-top: 5px;
    font-size: 1rem;
    color: #666;
}

.city-card:hover .image-box {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Presence Section */
.presence-section {
    padding: 50px 0;
}

.presence-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2C2E43;
    margin-bottom: 20px;
    font-family: 'Report School Heavy', Arial, sans-serif;
}

.presence-section p {
    font-size: 1.2rem;
    color: #6C757D;
    line-height: 1.6;
    margin-bottom: 20px;
}

.presence-section h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2C2E43;
}

#india-map {
    height: 400px;
    overflow: hidden;
    margin-right: 60px;
}

/* Testimonials Section */
.testimonials-section {
    padding: 40px 0;
}

.testimonials-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Report School Heavy', Arial, sans-serif;
}

.testimonial-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.testimonial-row-container {
    overflow: hidden;
    width: 80%;
}

.testimonial-row {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial-card {
    width: 400px;
    padding: 10px;
    margin: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 220px;
    font-family: 'Report School Regular', Arial, sans-serif;
}

.text-card {
    background-color: #192045;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: 150px;
    width: 300px;
    font-family: 'Report School Italic', Arial, sans-serif;
}

.testimonial-card:hover {
    transform: scale(1.1);
}

.client-name {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #1A1F36;
    text-align: center;
    font-family: 'Report School Bold', Arial, sans-serif;
}

/* Scroll Buttons */
.scroll-btn {
    background-color: #192045;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

.scroll-btn:hover {
    background-color: #1A1F36;
}

/* Human bot section */
.human-bot-section {
    position: relative;
    padding: 50px 0;
    margin: 30px;
}

.human-bot-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.text-content {
    width: 50%;
    z-index: 2;
    font-family: 'Report School Regular', Arial, sans-serif;
}

.text-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    font-family: 'Report School Heavy', Arial, sans-serif;
}

.text-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Report School Bold', Arial, sans-serif;
}

.text-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #555;
    font-family: 'Report School Regular', Arial, sans-serif;
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.cta-buttons .btn-primary {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Report School Bold', Arial, sans-serif;
}

.cta-buttons .btn-success {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Report School Bold', Arial, sans-serif;
}

.image-container {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 50%;
    height: auto;
    max-width: 600px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Contact section */
.contact-section {
    background-color: #0B132B;
    color: white;
    padding: 40px 0;
}

.contact-section .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.company-info {
    flex: 1;
    padding-left: 20px;
}

.company-info .logo {
    max-width: 120px;
    margin-bottom: 20px;
}

.company-info p {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
    font-family: 'Report School Regular', Arial, sans-serif;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    display: block;
    font-family: 'Report School Bold', Arial, sans-serif;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a img {
    width: 32px;
    height: 32px;
}

.text-end {
    text-align: right;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

/* Responsiveness */
/* Responsive Styles */

/* Small Mobile Devices (up to 480px) */
@media (max-width: 480px) {
    /* Navbar Adjustments */
    .navbar .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-brand span {
        font-size: 1.2rem;
    }
    .nav-link {
        font-size: 14px;
        margin-left: 10px;
    }

    /* Hero Section Adjustments */
    .hero-section {
        flex-direction: column;
        padding: 20px;
        text-align: center;
        min-height: auto;
    }
    .hero-text {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .hero-title {
        font-size: 32px;
    }
    .hero-subtitle {
        font-size: 18px;
    }

    /* Form Section */
    .info-form-section .form-container {
        margin: 20px auto;
        width: 100%;
        max-width: none;
        padding: 15px;
    }

    /* Benefits Section Adjustments */
    .benefits-section {
        width: 100%;
        margin: 20px 0;
    }
    .benefit {
        font-size: 1rem;
    }

    /* How It Works Section */
    .how-it-works-section {
        padding: 30px 15px;
    }
    .steps h2 {
        font-size: 1.8rem;
    }
    .steps .step h3 {
        font-size: 1.2rem;
    }
    .steps .step p {
        font-size: 1rem;
    }

    /* Company Logos Section */
    .company-logos-section img {
        height: 40px;
        padding: 5px 10px;
    }

    /* Map adjustments */
    #india-map {
        width: 100%;
        height: 300px;
    }

    /* Discover Section Adjustments */
    .discover-coworking-section {
        padding: 30px 0;
    }
    .city-card {
        margin: 0 10px;
    }
    .city-card h3 {
        font-size: 1rem;
    }
    .city-card p {
        font-size: 0.9rem;
    }
    .image-box {
        width: 120px;
        height: 80px;
    }

    /* Testimonials Section Adjustments */
    .testimonials-section {
        padding: 30px 0;
    }
    .testimonial-card {
        width: 90%;
        margin: 10px auto;
    }
    .text-card {
        width: 100%;
    }

    /* Human-Bot Section Adjustments */
    .human-bot-section .container {
        flex-direction: column;
        align-items: center;
    }
    .text-content, .image-container {
        width: 100%;
        text-align: center;
    }
    .image-container {
        position: static;
        margin-top: 20px;
    }

    /* Contact Section Adjustments */
    .contact-section {
        padding: 20px; /* Adjust padding for better spacing */
        background-color: #0C1427; /* Optional: ensures consistent background color */
        color: white; /* Ensures text color is consistently white */
    }

    .contact-section .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .company-info, .footer-links, .social-icons {
        text-align: left;
        width: 100%;
    }

    .social-icons {
        justify-content: flex-start; /* Align social icons to the start (left) */
        margin-top: 10px; /* Proper spacing above icons */
        padding-left: 19px;
    }

    .social-icons a {
        margin-right: 10px; /* Space out the icons */
        /* padding-left: 15px; */
    }

    .footer-links {
        margin-bottom: 10px; /* Space below links */
    }

    .footer-links li {
        padding: 5px 19px; /* Vertical padding */
    }

    .footer-links a {
        font-size: 16px; /* Font size for readability */
        
    }

    /* General Adjustments */
    body, .container, .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


/* Medium Mobile Devices (481px to 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    /* Navbar Adjustments */
    .navbar .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-brand span {
        font-size: 1.4rem;
    }
    .nav-link {
        font-size: 15px;
        margin-left: 15px;
    }

    /* Hero Section Adjustments */
    .hero-section {
        flex-direction: column;
        padding: 30px;
        text-align: center;
        min-height: auto;
    }
    .hero-text {
        padding-right: 0;
        margin-bottom: 25px;
    }
    .hero-title {
        font-size: 36px;
    }
    .hero-subtitle {
        font-size: 20px;
    }

    /* Form Section */
    .info-form-section .form-container {
        margin: 20px auto;
        width: 100%;
        max-width: none;
        padding: 20px;
    }

    /* Map Adjustments */
    #india-map {
        width: 100%; /* Ensures the map fills the container */
        height: 350px; /* Adjust height for better visibility */
    }

    /* Human-Bot Section Adjustments */
    .human-bot-section .container {
        flex-direction: column;
        align-items: center;
    }
    .text-content, .image-container {
        width: 100%;
        text-align: center;
    }
    .image-container {
        position: static;
        margin-top: 20px;
    }

    /* Contact Section Adjustments */
    .contact-section {
        padding: 20px; /* Adjust padding for better spacing */
        background-color: #0C1427; /* Consistent background color */
        color: white; /* Text color */
    }

    .contact-section .container {
        flex-direction: column;
        align-items: flex-start; /* Start alignment for better layout */
    }

    .company-info, .footer-links, .social-icons {
        text-align: left;
        width: 100%;
    }

    .social-icons {
        justify-content: flex-start; /* Align social icons to the start */
        margin-top: 10px; /* Space above icons */
        padding-left: 20px; /* Align with the other text */
    }

    .social-icons a {
        margin-right: 10px; /* Space between icons */
    }

    .footer-links {
        padding-left: 20px; /* Align with other text */
        margin-bottom: 10px; /* Space below */
    }

    .footer-links li {
        padding: 5px 0; /* Padding for each link */
    }

    .footer-links a {
        font-size: 16px; /* Readability size */
    }

    /* General Layout Adjustments */
    body, .container, .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

    section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}



/* Large Mobile Devices (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    /* Navbar Adjustments */
    .navbar .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar-brand span {
        font-size: 1.5rem;
    }
    .nav-link {
        font-size: 16px;
        margin-left: 18px;
    }

    /* Hero Section Adjustments */
    .hero-section {
        flex-direction: row;
        padding: 40px;
        text-align: left;
    }
    .hero-text {
        padding-right: 30px;
        margin-bottom: 0;
    }
    .hero-title {
        font-size: 42px;
    }
    .hero-subtitle {
        font-size: 22px;
    }

    /* Form Section */
    .info-form-section .form-container {
        margin: 0 auto;
        width: 80%;
        max-width: 600px;
        padding: 25px;
    }

    /* Adjust other sections similarly */
}

/* Reduce Whitespace and Uniformity */
body {
    margin: 0;
    padding: 0;
}
section {
    padding: 40px 0;
}
.container, .container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

/* Ensure Images Scale Properly */
img {
    max-width: 100%;
    height: auto;
}

/* Ensure Text Doesn't Overflow */
h1, h2, h3, p, span, a {
    word-wrap: break-word;
}
